#title{
    background-color: #1e212d;
    height: 500px;
    margin: -20px -10px;
    border-radius: 0 0 50% 50% / 50px;
}

.navbar-menu{
    padding: 10px 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1e212d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
  
li{
    float: left;
 }
  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

.navbar-motto{
    text-align: center;
    margin: 10% auto;
    width: 50%;
    border-radius: 25px;
}

h1{
    color: white;
    margin-top: 10%;
    text-align: center;
    font-size: 40px;
    font-family: 'Mulish', sans-serif;
    font-weight: 1000;
    padding: 10px;
}

.container {
    position: relative;
    width: 20%;
    height: 15%;
    float: left;
    margin: 50px 0 10px 3%;
    font-size: 28px;
    text-align: center;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    background-color: rgba(30, 33, 45, 0.801);
}

.container:hover .overlay {
    height: 100%;
}

.text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

li a:hover{
    color: #008CBA;
}

p{
    margin: 0;
    background-color: #1e212d;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    font-size: 25px;
}

#content{
    padding: 3% 0 0 4.5%;
    position: relative;
    overflow: hidden;
}

#app{
    background-color: #1e212d;
    margin: 30px -10px -10px;
    padding: 10px 0 70px;
    height: 300px;
    border-radius: 50% 50% 0 0 /50px;
}

h2{
    text-align: center;
    font-size: 30px;
    color: white;
}

button{
    border-radius: 25px;
    border: none;
    padding: 15px 32px;
    font-family: 'Mulish', sans-serif;
    margin: 20px 10px;
    font-weight: bold;
}

.app-container{
    text-align: center;
}

button:hover{
    background-color: #008CBA;
}

button a{
    text-decoration: none;
    color: black;
}

#footer{
    text-align: center;
}

.social{
    padding: 20px;
    color: black;
    font-size: 50px;
}

#contact{
    background-color: #1e212d;
    margin: 5% 15%;
    padding: 2% 0;
    border-radius: 25px;
}

.contact-container{
    width: 50%;
    margin: auto;
    color: white;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
    resize: vertical;
    font-size: 20px;
  }

input[type=submit], input[type=reset] {
    background-color: white;
    font-size: 20px;
    color: black;
    padding: 20px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;

  }
  
  input[type=submit]:hover, input[type=reset]:hover {
    background-color: #008CBA;
  }

#contact-app{
    background-color: #1e212d;
    margin: 30px -10px -10px;
    padding: 10px 0 70px;
    height: 100px;
    border-radius: 50% 50% 0 0 /50px;
}

#onas{
    width: 50%;
    margin: 5% auto;
    background-color: #1e212d;
    padding: 3%;
    border-radius: 25px;
}

#login{
    width: 50%;
    margin: 3% auto;
    background-color: #1e212d;
    color: white;
    font-family: 'Mulish', sans-serif;
    padding: 3%;
    border-radius: 25px;
}

form {
    border: 3px solid #1e212d;
}
  
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
.cancelbtn {
    background-color: #f44336;
}
  
.login-container {
    padding: 16px;
}
  
span.psw {
    float: right;
    padding-top: 16px;
}

.psw a{
    text-decoration: none;
    color: white;
}
